// Here you can add other styles
.localization-container {
  position: absolute;
  top: 10px;
  right: 20px;
}

.app-header .navbar-nav .dropdown-menu-right {
  height: auto !important;
}

.react-datepicker-wrapper {
  display: block;
}

.breadcrumb li:first-child {
  display: none;
}

.breadcrumb li:nth-child(2):before {
  content: "";
}
